.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  font: 700 1rem / 1.6 var(--lb-font-sans);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: inherit;
}

.admonitionHeading:not(:last-child) {
  margin-bottom: 0.3rem;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}
